<!DOCTYPE html>
<html>
  <head>
    <title>TodoMVC - by ti0ma</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/app-template.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="TodoMvc">
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/bower/angular/angular.js"></script>
    <script src="/js/dependencies/bower/angular-route/angular-route.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
